<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Foi realizado um pedido para o utilizador com o ID: ' + ${clientID} + '!'" />
    <p th:text="'Entrada: ' + ${entry} + ';'" />
    <p th:text="'Prato Principal: ' + ${mainCourse} + ';'" />
    <p th:text="'Bebidas: ' + ${drink} + ';'" />
    <p th:text="'Sobremesa: ' + ${dessert} + '.'" />
</body>
</html>
