<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Apple Poor Store</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Font de icons-->
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet"/>
</head>
<body>
    <div align="center">
        <!--
            Cabeçalho
        -->
        <header>
            <a href="/homepage"><img class="shop_logo" src="images/apple_logo_black.png"></a>
            <div class="header_stuff">
            </div>
        </header>

        <h1>About This Page</h1>
        <p>Trabalho Final de Tecnologias Web</p>
        <p>WebApp de uma loja online realizada no âmbito de TW, uma U.C de licenciatura</p>
        <h3>Feito por:</h3>
        <p>Leonardo Catarro & Diogo Solipa</p>

        <!--
            Rodape
        -->
        <footer class="rodape">
        </footer>
    </div>
</body>
</html>