h1 {
    color: red;
    border-bottom: 1px red solid;
}

h2 {
    color: gray;
    margin-left: 100px;
}

p {
    font-size: small;
    font-family: sans-serif;
    margin-left: 100px;
}

img {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
}