header {
    display:flex;
    background: linear-gradient(to right, rgb(218, 223, 224), rgb(139, 143, 143));
    width: auto;
    height: 250px;
}

#shop_logo{
    margin-top: 5px;
    margin-left: 5px;
    background-size: cover;
    background-image: none;
    height: 240px;
    width: 250px;
}
.advanced_search {
    margin-left: 80px;
}


.header_stuff {
    text-align: center;
}

.top_nav {
    margin: auto;
}

#search {
    width: 600px;
}


/*

        CSS for products

*/
.products {
    margin-top: 200px;
    display: flex;          /*Mete todo o conteudo na mesma "Linha"*/
    align-items: center;
}

.product_img img {
    margin-left: 100px;
    width: 227px;
}

.about_prod {
    margin-left: 100px;
    font-family: 'Goldman', cursive;
    line-height: 20px;
    background-color:none;
}

.about_prod h1{
    font-size: 30px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_prod .description{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.about_prod .price{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}