html {
    max-width: 1280px;
    margin: auto;
}

a {
    color: black;
    text-align: justify;
    text-decoration: none;
}

hr {
    color: gray;
    position: relative;
    top: 20px;
}
/*
    index.html
*/
header {
    display:flex;
    background: linear-gradient(to right, rgb(218, 223, 224), rgb(139, 143, 143));
    height: 250px;
}

.shop_logo{
    margin-top: 5px;
    margin-left: 5px;
    background-size: cover;
    background-image: none;
    height: 240px;
    width: 250px;
}

.search_button {
    height: 40px;
}

.advanced_search_button {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    background-color: white;
    border-radius: 8px;
    height: 50px;
}

.header_stuff {
    display: flex;
    margin: auto;
    height: 40px;
}

.search_bar{
    margin: auto;
    width: 700px;
    display: flex;
}

.advanced_search_button {
    height: 40px;
}

.quantidade_produtos {
    margin-top: 20px;
    margin-left: 50%;
    font-size: 30px;
    font-weight: bold;
}

.categorias {
    max-width: 205px;
    min-width: 205px;
    text-align: center;
    background-color: lightblue;
    font-family: 'Goldman', cursive;
    line-height: 60px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));
}

.lista_categorias li{
    color:black;
    text-decoration: none;
}

.lista_categorias li#notebooks{
    color:white;
    font-weight: bold;
}

.title {
    font-size: 25px;
    text-decoration: underline;
}

.prods_categorias {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.products {
    text-align: left;
    width: 100%;
    border: 1px solid grey;
    margin-left: 20px;
}

.products li {
    display: flex;
    margin-top: 60px;
}

.product_img img {
    text-align: left;
    width: 227px;
    height: auto;
}

.about_prod {
    margin-left: 20px;
    font-family: 'Goldman', cursive;
    line-height: 20px;
    background-color:none;
}

.about_prod .brand_model{
    font-size: 30px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;  
}

.about_prod a {
    text-decoration: none;
}

.brand_model:hover{
    font-weight: bolder;
    font-size: 32px;
}

.about_prod .description{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.about_prod .price{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.about_prod .old_price{
    text-decoration: line-through;
}

footer {
    margin-top: 50px;
    text-align: left;
    width: auto;
    height: 50px;
    background: linear-gradient(to right, rgb(218, 223, 224), rgb(139, 143, 143));

}

.about_page {
    font-family: 'Goldman', cursive;
    margin: auto;
    font-size: 20px;
    color:black;
    text-decoration: none;
    border-bottom-style: none;
    text-align: left;
    clear: both;
}

.about_page:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
 
.buttons {
    align-items: center;
    margin-left: 50%;
    padding-top: 50px;
    clear: both;
}

.previous {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
}
 
.previous:hover {
    border-radius: 50%;
    background-color: #4a4d4a;
    color: black;
    padding: 8px 16px;
}

.next {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
}
 
.next:hover {
    border-radius: 50%;
    background-color:#4a4d4a;
    color: black;
    padding: 8px 16px;
}

/*
    product.html
*/
.detalhes_produto {
    width: 100%;
    margin-left: 20px;
    border: 1px solid grey;
}

.detalhes_product_img img {
    width: 300px;
    float: left;
    position: relative;
    margin-right: 20px;
}

.detalhes_brand_model {
    font-family: 'Goldman', cursive;
    text-align: left;
    background-color: rgb(208, 207, 214);
    font-size: 30px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full_details {
    text-align: justify;
}

.info_envio {
    float: right;
    text-align: justify;
}
/*
    advanced_search.html
*/
.final_compra {
    float: left;
}

.pesquisa_avançada {
    text-align: left;
    width: 100%;
    border: 1px solid grey;
    margin-left: 20px;
}

.product_description {
    width: 80%;
    resize: none;
}
/*
    Responsividade (todos os HTML)
*/
@media screen and (max-width: 690px){
    .product_img img {
        width: 227px;
    }
}

@media screen and (max-width: 600px){
    .product_img img {   
        width: 180px;
    }

    .detalhes_product_img a img {
        width: 500px;
    }

    .products{
        text-align: center;
    }

    .products li{
        display: flex;
    }

    .products a {
        text-align: center;
    }

    .buttons{
        margin-left: 40%;
    }

    .header_stuff {
        flex-direction: column;
        width: 80px;
    }

    h1.detalhes_brand_model {
        text-align: center;
    }

    .search_bar {
        width: 100px;
    }
}

@media screen and (max-width: 480px){
    .product_img img {   
        width: 124px;
    }

    .products{
        text-align: center;
    }

    .products a {
        text-align: center;
    }

    .buttons{
        margin-left: 40%;
    }
    
    .quantidade_produtos{
        margin-left: 45%;
    }
}


@media screen and (max-width: 750px){
    .prods_categorias {
        flex-direction: column;
        text-align: center;
    }

    .categorias {
        max-width: none;
        min-width: none;
        width: 100%;
    }

    .products li {
        flex-direction: column;
        width: 100%;
    }

    .products{
        margin-left: 0px;
    }

    .detalhes_produto {
        width: 100%;
        margin-left: 0px;
    }

    .header_stuff {
        flex-direction: column;
        width: 80px;
    }

    .pesquisa_avançada{
        margin-left: 0px;;
    }

    .search_bar{
        width: 300px;
    }
}

@media screen and (max-width: 1100px){
    .search_bar {
        width: 500px;
    }
}

@media screen and (max-width: 900px){
    .search_bar {
        width: 100px;
    }
}