html {
    max-width: 1280px;
    margin: auto;
    align-items: center;
    
    min-width: 480px;
   /* border: 1px solid green;*/
}

a {
    text-decoration: none;
    color: black;
    text-align: justify;
}

hr {
    color: gray;
    position: relative;
    top: 20px;
}

.prods_categorias {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

/*
    Cabeçalho
*/
header {
    display:flex;
    background: linear-gradient(to right, rgb(218, 223, 224), rgb(139, 143, 143));
    width: auto;
    height: 250px;
}

#shop_logo{
    margin-top: 5px;
    margin-left: 5px;
    background-size: cover;
    background-image: none;
    height: 240px;
    width: 250px;
}


.advanced_search_button {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    background-color: white;
    margin-left: 80px;
    border-radius: 8px;
}

.header_stuff {
    text-align: center;
}

.top_nav .search_bar {
    width: 600px;
    border-radius: 8px;
}

header .top_nav {
    margin: auto;
    border-radius: 8px;
}


/*
    Categorias
*/
.categorias {
    width: 205px;
    text-align: center;
    background-color: lightblue;
    /*border: 1px solid blue;*/
    font-family: 'Goldman', cursive;
    line-height: 60px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
   
}

.lista_categorias li:active{
    color:black;
    font-weight: bolder;
    text-decoration: none;
}

.lista_categorias li:hover{
    color: white;
    font-size: 25px;
}

#title {
    font-size: 25px;
    text-decoration: underline;
}


/*
    Produtos
*/
.products {
    /*border: 1px solid red;*/
    
}


.products li {
    padding-top: 100px;
    display: flex;
    flex: 50%;          /*Mete todo o conteudo de cada produto na mesma "Linha"*/
    align-items: center;

    /*border: 1px solid red;*/
}

.product_img img {
    display: flex;
    width: 227px;
    margin-left: 100px;
    
    /*border: 1px solid red;*/
}

.about_prod {
    margin-left: 20px;
    font-family: 'Goldman', cursive;
    line-height: 20px;
    background-color:none;

    /*border: 1px solid red;*/
}

.about_prod .brand_model{
    background-color: rgb(208, 207, 214);
    font-size: 30px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about_prod .brand_model:hover{
    background-color: rgb(208, 207, 214);
    font-size: 40px;
}


.about_prod .description{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.about_prod .price{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.about_prod .old_price{
    text-decoration: line-through;
}


/*
    Rodapé
*/
footer {
    margin-top: 100px;
    text-align: left;
    width: auto;
    height: 50px;
    background: linear-gradient(to right, rgb(218, 223, 224), rgb(139, 143, 143));
    

    clear: both;

}

.about_page {
    font-family: 'Goldman', cursive;
    margin: auto;
    font-size: 20px;
    color:black;
    text-decoration: none;
    border-bottom-style: none;

    clear: both;

}

.about_page:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}


/*
    Butoes Next e Previous
*/ 
.buttons {
    align-items: center;
    margin-left: 45%;
    padding-top: 50px;
    
    clear: both;
}

.previous {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
}
 
.previous:hover {
    border-radius: 50%;
    background-color: #4a4d4a;
    color: black;
    padding: 8px 16px;
}

.next {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
}
 
.next:hover {
    border-radius: 50%;
    background-color:#4a4d4a;
    color: black;
    padding: 8px 16px;
}



/*
    Detalhes do Produto
*/
.detalhes_produto {
    width: 100%;
    /*border: 1px solid red;*/
}

.detalhes_product_img img {
    width: 300px;
    float: left;
    position: relative;
    margin-right: 20px;
    /*border: 1px solid red; */
}

.about_prod .detalhes_brand_model {
    text-align: left;
    background-color: rgb(208, 207, 214);
    font-size: 30px;
    background: linear-gradient(to right, rgb(213, 215, 216), rgb(137, 139, 139));  /*Juntamente com as proximas 2 linhas, põe o texto com um gradiente linear*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full_details {
    text-align: justify;
    /*border: 1px solid blue;*/
}


/*####################################################################################*/


/*
    Css para página responsiva
*/
/*Imagens dos Produtos*/

@media only screen and (max-width: 690px){
    .product_img img {
        width: 227px;
    }
}

@media only screen and (max-width: 600px){
    .product_img img {   
        width: 180px;
    }
}

@media only screen and (max-width: 480px){
    .product_img img {   
        width: 124px;
    }
}


/*Categorias*/

@media only screen and (max-width: 750px){
    .prods_categorias {
        flex-direction: column;
    }

    .categorias {
        width: 100%;
    }

    /*Opção por(manter?)*/
    .products li {
        flex-direction: column;
    }
}






